.about{
    display: flex;
    justify-content: space-around;
    font-family: 'Bebas Neue', cursive;
    color: var(--color1);
}

.about-title{
    font-size: 6em;
    max-width: 40%;
    margin-left: 10vw;
}

.about-desc{
    font-size: 1.5em;
    max-width: 40%;
    font-style: italic;
    margin-top: 9vh;
    text-align: left;
    margin-right: 10vw;
}

.line{
    /* height: 100%; */
}