@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

:root {
  --color1: #2F3E46;
  --color2: #354F52;
  --color3: #52796F;
  --color4: #84A98C;
  --color5: #CAD2C5;
}

.App {
  text-align: center;
  background-color: var(--color5);
}

.hero {
  display: flex;
  background-color: var(--color3);
  height: calc(85vh - 60px);
  font-family: 'Bebas Neue', cursive;
  font-weight: 200;
  color: white;
  justify-content: space-around;
}

.heroText {
  font-weight: 500;
  max-width: 30vw;
  margin-left: 15vw;
  text-align: left;
  padding-top: 10vh;
  font-size: 4em;
}

.heroImage {
  border-radius: 45px;
  margin: auto;
  height: 100%;
}

.heroButton {
  height: 50px;
  width: 8vw;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  margin-right: 20px;
  background-color: var(--color5);
  border-radius: 15px;
}

.hero-btn {
  display: flex;
  margin-left: 15vw;
}