.project-right {
    display: flex;
    font-family: 'Dongle', sans-serif;
    margin: 10%;
    height: 100%;

    .info {
        height: 100%;
        width: 50%;
        text-align: left;
        font-size: 1.1em;

        .linkTitle {
            float: left;
            padding-left: 80px;
        }

        .githubIcon {
            height: 30px;
            padding: 20px;
            padding-top: 12px;
        }
    }
}

.p-image {
    background-color: var(--color2);
    width: 50%;
    height: 340px;
    border-radius: 20px;

}

.project-right>.info {
    color: var(--color1);

    .desc {
        width: 100%;
        background-color: var(--color4);
        height: 130px;
        border-radius: 20px;
        position: relative;
        left: 30px;
        text-align: left;
        padding: 10px;
        font-family: 'Dongle', sans-serif;
        font-size: 22px;
        overflow: hidden;
        word-wrap: break-word;


        .p {
            padding-left: 20px;
        }
    }

    .title {
        font-size: 40px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-left: 80px;

    }

    .tech {
        margin-top: 0px;
        margin-bottom: 5px;
        padding-left: 80px;
        font-size: 20px;

    }
}