.contactTitle {
    font-size: 50px;
    color: var(--color2);
    font-family: 'Dongle', sans-serif;
}

.contactBtn {
    width: 10vw;
    height: 9vh;
    border-radius: 15px;
    background-color: var(--color2);
    color: white;
    font-family: 'Dongle', sans-serif;
    font-size: 24px;
}

.homeContact {
    padding: 100px;
    padding-top: 30px;
}